
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>It works!</h1>
      <a href="{{url "App.Impressum"}}">Impressum</a>


    </div>
  </div>
</header>





<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>




<form action="{{url "App.Login"}}" id="formLogin" method="POST">
   <p class="field">
     <label>Login Name:</label>
     <input type="text" name="username" size="19" value="{{.flash.username}}" />
   </p>
   <p class="field">
     <label>Password:</label>
     <input type="password" name="password" size="19"/>
   </p>
   <p class="field">
     <label>Instructor:</label>
     <input type="checkbox" name="instructor" value="true"/>
   </p>
   <p class="buttons">
     <input type="submit" value="Login" />
   </p>
 </form>

{{template "footer.html" .}}
